<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportly - Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login_and_registr.css') }}">
</head>

<body>
    <main class="container">
        <div class="registration-card">
            <h1 class="registration-title">Вход</h1>
            <p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>

            <form id="registration-form" method="post">

                <div class="input-group">
                    <label for="email" class="input-label">Номер телефона</label>
                    <input type="tel" id="email" class="input-field"
                           placeholder="+79000000000" name="email" required>
                </div>

                <div class="input-group">
                    <label for="password" class="input-label">Пароль</label>
                    <input type="password" id="password" class="input-field"
                           placeholder="Не менее 8 символов" name="password" required>
                </div>


                <div style="text-align: center"><button type="submit" class="submit-btn">Войти</button></div>
            </form>

            <div class="login-link">
                Нет аккаунта? <a href="/register">Зарегистрироваться</a>
            </div>

            <span class="login-link" style="text-align: left">{{ message }}</span>
        </div>
    </main>

</body>
</html>